/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://db.onlinewebfonts.com/c/2173dceabf0710a335c0bca178efc162?family=Maison+Neue);
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Maison Neue";
}

ol,
ul {
  list-style: none;
  padding: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

input,
button {
  outline: none;
}

header .header-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 10px 0;
  max-width: 1280px;
}
header .header-container .header-logo {
  cursor: pointer;
  height: 40px;
  pointer-events: none;
}
header .header-container .search-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
header .header-container .search-container .search-input {
  background-color: #f5f6f7;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  height: 37px;
  outline: none;
  padding-left: 40px;
  width: 590px;
}
header .header-container .search-container svg {
  width: 1em;
  color: #bbb;
  left: 7px;
  position: absolute;
  top: 12px;
  display: inline-block;
  font-size: inherit;
  height: 1em;
  vertical-align: -0.125em;
}
header .header-container .search-container .filter .filter-container {
  margin-top: 25px;
  font-size: 12px;
  display: flex;
  align-items: center;
}
header .header-container .search-container .filter .filter-container .filter-price {
  margin-right: 10px;
  width: 17%;
}
header .header-container .search-container .filter .filter-container .checkbox {
  margin-right: 25px;
}
header .header-container .search-container .filter .filter-container .checkbox input {
  display: none;
  cursor: pointer;
}
header .header-container .search-container .filter .filter-container .checkbox .wrapper {
  align-items: center;
  background-color: #2cb1ba;
  border-radius: 10px;
  cursor: pointer;
  display: inline-flex;
  height: 20px;
  outline: none;
  width: 42px;
}
header .header-container .search-container .filter .filter-container .checkbox .wrapper .knob {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #666;
  border-radius: 100%;
  font-weight: 700;
  height: 16px;
  left: 0;
  position: relative;
  transition: left 0.1s ease-in-out 0s;
  width: 16px;
}
header .header-container .search-container .filter .filter-container .checkbox.checked .wrapper {
  background-color: #2cb1ba;
}
header .header-container .search-container .filter .filter-container .checkbox.checked .wrapper .knob {
  left: 23px;
}
header .header-container .search-container .filter .filter-container .price-range {
  width: 100%;
  display: flex;
  align-items: center;
}
header .header-container .search-container .filter .filter-container .price-range span {
  margin-right: 10px;
}
header .header-container .connexion .button-signup {
  margin-right: 20px;
}
header .header-container .connexion .button-login-signup {
  background-color: #fff;
  color: #2cb1ba;
}
header .header-container .connexion a {
  color: #2cb1ba;
}
header .header-container .button-logout {
  background-color: #c2175b;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-family: Maison Neue;
  font-size: 12px;
  height: 30px;
  outline: none;
}
header .header-container button {
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-size: 12px;
  height: 30px;
  outline: none;
  width: 115px;
  cursor: pointer;
}
header .header-container .button-sold {
  background-color: #2cb1ba;
}
header .header-container .button-sold a {
  color: #fff;
}

@media (max-width: 1280px) {
  header {
    position: relative;
  }
  header .header-container a {
    margin-left: 10px;
  }
  header .header-container .search-container {
    position: absolute;
    bottom: -60%;
    z-index: 1;
    width: 100%;
  }
  header .header-container .search-container .search-input {
    width: 96%;
  }
  header .header-container .filter {
    display: none;
  }
  header .header-container .connexion {
    display: none;
  }
  header .header-container .button-logout {
    display: none;
  }
  header .header-container .button-sold {
    display: none;
  }
  header .header-container .burger-menu {
    margin-right: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    background: transparent;
    border: none;
    padding: 0;
    box-sizing: border-box;
  }
  header .header-container .burger-menu .bar {
    width: 30px;
    height: 4px;
    background-color: #333;
    transition: 0.3s;
  }
  header .header-container .burger-menu.open .bar:first-child {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  header .header-container .burger-menu.open .bar:nth-child(2) {
    opacity: 0;
  }
  header .header-container .burger-menu.open .bar:last-child {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  header .header-container .container-mobile {
    position: absolute;
    top: 90%;
    z-index: 2;
    right: 0;
    background-color: white;
    height: 160px;
    width: 160px;
  }
  header .header-container .container-mobile .search-container {
    display: flex;
  }
  header .header-container .container-mobile .connexion {
    display: flex;
    flex-direction: column;
  }
  header .header-container .container-mobile .connexion button {
    margin: 10px 10px;
  }
  header .header-container .container-mobile .button-logout {
    display: block;
    margin-right: 10px;
  }
  header .header-container .container-mobile .button-sold {
    display: block;
    margin: 10px;
  }
}
.home-hero-bg-img {
  background-image: url("../assets/img/hero.jpg");
  background-position: 50%;
  background-size: cover;
  height: 455px;
  position: relative;
  width: 100%;
}
.home-hero-bg-img img {
  bottom: 0;
  height: 80px;
  pointer-events: none;
  position: absolute;
  right: 0;
}
.home-hero-bg-img div {
  width: 1280px;
  margin: 0 auto;
}
.home-hero-bg-img div .home-hero-ready {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 2px hsla(0, 0%, 7%, 0.24);
  display: flex;
  flex-direction: column;
  font-size: 34px;
  height: 220px;
  justify-content: center;
  padding: 25px;
  position: absolute;
  top: 75px;
  width: 360px;
}
.home-hero-bg-img div .home-hero-ready button {
  background-color: #2baeb7;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  height: 45px;
  margin-top: 32px;
  padding: 0 14px;
  width: 187px;
  outline: none;
  cursor: pointer;
}

.home-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 30px auto auto;
  max-width: 1280px;
}
.home-card-wrapper .card-container {
  cursor: pointer;
  padding: 0 6px 16px;
  width: 235px;
}
.home-card-wrapper .card-container .card-avatar-username {
  align-items: center;
  display: flex;
  padding: 10px;
  height: 25px;
}
.home-card-wrapper .card-container .card-avatar-username img {
  border-radius: 50%;
  height: 25px;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 25px;
  pointer-events: none;
}
.home-card-wrapper .card-container .card-avatar-username span {
  color: #999;
  font-size: 12px;
}
.home-card-wrapper .card-container div img {
  height: 360px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 235px;
}
.home-card-wrapper .card-container div .card-price-size-brand {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
.home-card-wrapper .card-container div .card-price-size-brand span {
  font-size: 14px;
  color: black;
}
.home-card-wrapper .card-container div .card-price-size-brand span:not(:first-child) {
  font-size: 12px;
  color: #999;
}

@media (max-width: 1280px) {
  .home-card-wrapper {
    justify-content: center;
  }
  .home-card-wrapper .card-container {
    width: 166px;
  }
  .home-card-wrapper .card-container div img {
    width: 166px;
    height: 249px;
  }
}
.offer-body {
  background-color: #ebedee;
  height: calc(100vh - 60px);
}
.offer-body .offer-container {
  display: flex;
  gap: 30px;
  justify-content: space-around;
  margin: 0 auto;
  padding: 30px;
  max-width: 1280px;
}
.offer-body .offer-container .offer-pictures img {
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
.offer-body .offer-container .offer-infos {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 40px;
  width: 320px;
}
.offer-body .offer-container .offer-infos .offer-price {
  color: #111;
  font-size: 24px;
  line-height: 32px;
}
.offer-body .offer-container .offer-infos .offer-list {
  margin: 20px 0;
}
.offer-body .offer-container .offer-infos .offer-list li {
  display: flex;
  padding: 4px 0;
}
.offer-body .offer-container .offer-infos .offer-list li span {
  flex: 1 1;
  font-size: 14px;
  text-transform: uppercase;
}
.offer-body .offer-container .offer-infos .offer-list li span:nth-child(1) {
  color: #999;
}
.offer-body .offer-container .offer-infos .offer-list li span:nth-child(2) {
  color: #666;
  font-weight: 700;
}
.offer-body .offer-container .offer-infos .divider {
  background: hsla(0, 0%, 7%, 0.1);
  display: block;
  height: 1px;
  width: 100%;
}
.offer-body .offer-container .offer-infos .offer-content .name {
  font-weight: 700;
}
.offer-body .offer-container .offer-infos .offer-content .description {
  color: #666;
  margin: 20px 0;
}
.offer-body .offer-container .offer-infos .offer-content .offer-avatar-username {
  align-items: center;
  display: flex;
}
.offer-body .offer-container .offer-infos .offer-content .offer-avatar-username img {
  border-radius: 50%;
  height: 50px;
  margin-right: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 50px;
  pointer-events: none;
}
.offer-body .offer-container .offer-infos button {
  background: #09b1ba;
  border: 1px solid #09b1ba;
  border-radius: 4px;
  color: #fff;
  font-size: 16px;
  height: 36px;
  line-height: 36px;
  margin-top: 32px;
  padding: 0 16px;
  width: 100%;
  cursor: pointer;
}

@media (max-width: 1280px) {
  .offer-body .offer-container {
    flex-direction: column;
  }
  .offer-body .offer-container .offer-pictures img {
    height: 300px;
  }
  .offer-body .offer-container .offer-infos {
    width: 250px;
  }
}
.signup-container,
.signup-form {
  display: flex;
  flex-direction: column;
}

.signup-container {
  justify-content: center;
  margin-top: 30px;
  text-align: center;
}
.signup-container h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 20px 0;
}
.signup-container .signup-form {
  margin: auto;
  width: 275px;
}
.signup-container .signup-form input {
  border: none;
  border-bottom: 1px solid #fcced3;
  height: 35px;
  margin-bottom: 20px;
  outline: none;
}
.signup-container .signup-form .signup-login-error-message {
  color: red;
  font-size: 9px;
}
.signup-container .signup-form .checkbox-container {
  margin-top: 20px;
  padding: 10px;
}
.signup-container .signup-form .checkbox-container input {
  margin-right: 10px;
}
.signup-container .signup-form .checkbox-container div {
  display: flex;
}
.signup-container .signup-form .checkbox-container div input {
  margin-right: 20px;
  transform: scale(2);
  cursor: pointer;
}
.signup-container .signup-form .checkbox-container div span {
  color: #666;
}
.signup-container .signup-form .checkbox-container p {
  color: #999;
  font-size: 12px;
  text-align: left;
}
.signup-container .signup-form button {
  background-color: #2cb1ba;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  height: 45px;
  margin-top: 20px;
  outline: none;
  width: 100%;
  cursor: pointer;
}
.signup-container a {
  color: #2cb1ba;
  font-size: 12px;
  margin-top: 20px;
  text-decoration: none;
}

.publish-main {
  background-color: #ebedee;
}
.publish-main .publish-container {
  max-width: 1280px;
  margin: 0 auto;
}
.publish-main .publish-container h2 {
  font-size: 24px;
  padding-top: 40px;
}
.publish-main .publish-container .file-select {
  background-color: #fff;
  box-shadow: 0 0 2px gray;
  margin: 20px 0;
  padding: 24px;
}
.publish-main .publish-container .file-select .dashed-preview-without {
  align-items: center;
  border: 1px dashed #ebedee;
  border-radius: 3px;
  display: flex;
  height: 200px;
  justify-content: center;
}
.publish-main .publish-container .file-select .dashed-preview-without img {
  height: 90% !important;
  margin: 0 10px;
}
.publish-main .publish-container .file-select .dashed-preview-without .remove-img-button {
  background-color: #fff;
  border-radius: 4px;
  bottom: 70px;
  color: #000;
  cursor: pointer;
  font-weight: 700;
  height: 25px;
  line-height: 25px;
  position: relative;
  right: 60px;
  text-align: center;
  width: 30px;
}
.publish-main .publish-container .file-select .dashed-preview-without .input-design-default {
  align-items: center;
  border: 1px solid #0ab1ba;
  border-radius: 4px;
  display: flex;
  height: 45px;
  justify-content: center;
  width: 200px;
}
.publish-main .publish-container .file-select .dashed-preview-without .input-design-default .label-file {
  color: #0ab1ba;
  cursor: pointer;
  font-weight: 700;
}
.publish-main .publish-container .file-select .dashed-preview-without .input-design-default .label-file span {
  margin: 0 10px;
  vertical-align: middle;
}
.publish-main .publish-container .file-select .dashed-preview-without .input-design-default .label-file .input-sign {
  font-size: 40px;
}
.publish-main .publish-container .file-select .dashed-preview-without .input-design-default .input-file {
  display: none;
}
.publish-main .publish-container .text-input-section {
  background-color: #fff;
  box-shadow: 0 0 2px gray;
  margin: 20px 0;
}
.publish-main .publish-container .text-input-section .text-input {
  display: flex;
  justify-content: space-between;
  padding: 24px;
}
.publish-main .publish-container .text-input-section .text-input:not(:last-child) {
  border-bottom: 1px solid #ebedee;
  height: 25px;
}
.publish-main .publish-container .text-input-section .text-input h4 {
  font-weight: 400;
  margin: 0;
  vertical-align: initial;
}
.publish-main .publish-container .text-input-section .text-input input {
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: Maison Neue;
  font-size: 16px;
  width: 50%;
}
.publish-main .publish-container .text-input-section .text-input textarea {
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: Maison Neue;
  font-size: 16px;
  outline: none;
  resize: none;
  width: 50%;
}
.publish-main .publish-container .text-input-section .checkbox-section {
  width: 50%;
}
.publish-main .publish-container .text-input-section .checkbox-section input {
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: Maison Neue;
  font-size: 16px;
  margin-bottom: 40px;
}
.publish-main .publish-container .text-input-section .checkbox-section input[type=number]::-webkit-inner-spin-button,
.publish-main .publish-container .text-input-section .checkbox-section input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.publish-main .publish-container .text-input-section .checkbox-section .checkbox-input label {
  color: #666;
}
.publish-main .publish-container .text-input-section .checkbox-section .checkbox-input .checkbox-design {
  border: 1px solid #000;
  border-radius: 3px;
  margin: 0 15px 0 0;
  padding: 2px 11px;
}
.publish-main .publish-container .text-input-section .checkbox-section .checkbox-input .checkbox-design-checked {
  background-color: #0ab1ba;
  border-radius: 3px;
  margin: 0 15px 0 0;
  padding: 3px 6px;
}
.publish-main .publish-container .text-input-section .checkbox-section .checkbox-input input {
  display: none;
  cursor: pointer;
}
.publish-main .publish-container .text-input-section .checkbox-section .checkbox-input .svg-inline--fa {
  overflow: visible;
  display: inline-block;
  height: 1em;
  vertical-align: -0.125em;
}
.publish-main .publish-container .text-input-section .checkbox-section .checkbox-input .svg-inline--fa .fa-w-16 {
  width: 1em;
}
.publish-main .publish-container .text-input-section .checkbox-section .checkbox-input .fa-xs {
  font-size: 0.75em;
}
.publish-main .publish-container .form-button-div {
  display: flex;
  justify-content: flex-end;
}
.publish-main .publish-container .form-button-div .form-validation {
  font: inherit;
  outline: inherit;
  padding: 12px;
  background-color: #0ab1ba;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin: 50px 0;
}/*# sourceMappingURL=styles.css.map */