header {
	.header-container {
		align-items: center;
		display: flex;
		justify-content: space-between;
		margin: 0 auto;
		padding: 10px 0;
		max-width: 1280px;

		.header-logo {
			cursor: pointer;
			height: 40px;
			pointer-events: none;
		}

		.search-container {
			display: flex;
			flex-direction: column;
			position: relative;

			.search-input {
				background-color: #f5f6f7;
				border: none;
				border-radius: 5px;
				font-size: 16px;
				height: 37px;
				outline: none;
				padding-left: 40px;
				width: 590px;
			}

			svg {
				width: 1em;
				color: #bbb;
				left: 7px;
				position: absolute;
				top: 12px;
				display: inline-block;
				font-size: inherit;
				height: 1em;
				vertical-align: -0.125em;
			}

			.filter {
				.filter-container {
					margin-top: 25px;
					font-size: 12px;
					display: flex;
					align-items: center;

					.filter-price {
						margin-right: 10px;
						width: 17%;
					}
					.checkbox {
						margin-right: 25px;

						input {
							display: none;
							cursor: pointer;
						}

						.wrapper {
							align-items: center;
							background-color: #2cb1ba;
							border-radius: 10px;
							cursor: pointer;
							display: inline-flex;
							height: 20px;
							outline: none;
							width: 42px;

							.knob {
								align-items: center;
								display: flex;
								justify-content: center;
								background-color: #fff;
								border: 1px solid #666;
								border-radius: 100%;
								font-weight: 700;
								height: 16px;
								left: 0;
								position: relative;
								transition: left 0.1s ease-in-out 0s;
								width: 16px;
							}
						}
					}
					.checkbox.checked {
						.wrapper {
							background-color: #2cb1ba;
							.knob {
								left: 23px;
							}
						}
					}
					.price-range {
						width: 100%;
						display: flex;
						align-items: center;
						span {
							margin-right: 10px;
						}
					}
				}
			}
		}
		.connexion {
			.button-signup {
				margin-right: 20px;
			}
			.button-login-signup {
				background-color: #fff;
				color: #2cb1ba;
			}

			a {
				color: #2cb1ba;
			}
		}
		.button-logout {
			background-color: #c2175b;
			border: none;
			border-radius: 5px;
			color: #fff;
			font-family: Maison Neue;
			font-size: 12px;
			height: 30px;
			outline: none;
		}

		button {
			border: 1px solid #2cb1ba;
			border-radius: 5px;
			font-size: 12px;
			height: 30px;
			outline: none;
			width: 115px;
			cursor: pointer;
		}
		.button-sold {
			background-color: #2cb1ba;

			a {
				color: #fff;
			}
		}
	}
}

@media (max-width: 1280px) {
	header {
		position: relative;
		.header-container {
			a {
				margin-left: 10px;
			}
			.search-container {
				position: absolute;
				bottom: -60%;
				z-index: 1;
				width: 100%;

				.search-input {
					width: 96%;
				}
			}
			.filter {
				display: none;
			}
			.connexion {
				display: none;
			}
			.button-logout {
				display: none;
			}
			.button-sold {
				display: none;
			}
			.burger-menu {
				margin-right: 10px;
				cursor: pointer;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				width: 30px;
				height: 20px;
				background: transparent;
				border: none;
				padding: 0;
				box-sizing: border-box;

				.bar {
					width: 30px;
					height: 4px;
					background-color: #333;
					transition: 0.3s;
				}

				&.open {
					.bar:first-child {
						transform: rotate(-45deg) translate(-5px, 6px);
					}

					.bar:nth-child(2) {
						opacity: 0;
					}

					.bar:last-child {
						transform: rotate(45deg) translate(-5px, -6px);
					}
				}
			}

			.container-mobile {
				position: absolute;
				top: 90%;
				z-index: 2;
				right: 0;
				background-color: white;
				height: 160px;
				width: 160px;
				.search-container {
					display: flex;
				}

				.connexion {
					display: flex;
					flex-direction: column;

					button {
						margin: 10px 10px;
					}
				}
				.button-logout {
					display: block;
					margin-right: 10px;
				}
				.button-sold {
					display: block;
					margin: 10px;
				}
			}
		}
	}
}
