.offer-body {
	background-color: #ebedee;
	height: calc(100vh - 60px);

	.offer-container {
		display: flex;
		gap: 30px;
		justify-content: space-around;
		margin: 0 auto;
		padding: 30px;
		max-width: 1280px;

		.offer-pictures {
			img {
				height: 600px;
				object-fit: cover;
			}
		}

		.offer-infos {
			background-color: #fff;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			padding: 40px;
			width: 320px;
			.offer-price {
				color: #111;
				font-size: 24px;
				line-height: 32px;
			}

			.offer-list {
				margin: 20px 0;
				li {
					display: flex;
					padding: 4px 0;

					span {
						flex: 1 1;
						font-size: 14px;
						text-transform: uppercase;
						&:nth-child(1) {
							color: #999;
						}
						&:nth-child(2) {
							color: #666;
							font-weight: 700;
						}
					}
				}
			}
			.divider {
				background: hsla(0, 0, 7%, 0.1);
				display: block;
				height: 1px;
				width: 100%;
			}
			.offer-content {
				.name {
					font-weight: 700;
				}
				.description {
					color: #666;
					margin: 20px 0;
				}
				.offer-avatar-username {
					align-items: center;
					display: flex;

					img {
						border-radius: 50%;
						height: 50px;
						margin-right: 10px;
						object-fit: cover;
						width: 50px;
						pointer-events: none;
					}
				}
			}
			button {
				background: #09b1ba;
				border: 1px solid #09b1ba;
				border-radius: 4px;
				color: #fff;
				font-size: 16px;
				height: 36px;
				line-height: 36px;
				margin-top: 32px;
				padding: 0 16px;
				width: 100%;
				cursor: pointer;
			}
		}
	}
}

@media (max-width: 1280px) {
	.offer-body {
		.offer-container {
			flex-direction: column;
			.offer-pictures {
				img {
					height: 300px;
				}
			}
			.offer-infos {
				width: 250px;
			}
		}
	}
}
